// color pallete
$black: #000;
$white: #fff;

$gray90: #1a1a1a;
$gray80: #333;
$gray70: #5a5a5a;
$gray60: #8a8a8a;
$gray50: #a5a5a5;
$gray40: #bcbcbc;
$gray30: #cfcfcf;
$gray20: #dfdfdf;
$gray10: #ececec;
$gray05: #f7f7f7;

$blue90: #0e4287;
$blue80: #094ea8;
$blue70: #0459c8;
$blue60: #0064e5;
$blue50: #1776f1;
$blue40: #358bfa;
$blue30: #5ca2ff;
$blue20: #89bdff;
$blue10: #bcdaff;
$blue05: #f0f6ff;

$yellow90: #7e5400;
$yellow80: #9f6a04;
$yellow70: #bd800b;
$yellow60: #d69518;
$yellow50: #eaa92c;
$yellow40: #fbbd48;
$yellow30: #ffcf6f;
$yellow20: #ffe19c;
$yellow10: #fff2cf;
$yellow05: #fff9e7;

$green90: #005f00;
$green80: #007d00;
$green70: #0e8e00;
$green60: #22a012;
$green50: #2eaf1d;
$green40: #54bb47;
$green30: #75c769;
$green20: #9ed695;
$green10: #c5e6bf;
$green05: #e6f5e5;

$teal90: #08463b;
$teal80: #17695c;
$teal70: #2d8879;
$teal60: #31a894;
$teal50: #43c1ac;
$teal40: #5bd5c1;
$teal30: #7ce4d3;
$teal20: #a6f0e3;
$teal10: #d6f8f2;
$teal05: #eafbf8;

$red90: #87120c;
$red80: #a4160e;
$red70: #bf1c13;
$red60: #d7261c;
$red50: #eb342a;
$red40: #fb493f;
$red30: #ff6c64;
$red20: #ff9690;
$red10: #ffc5c1;
$red05: #fff3f3;

// System colors
// Tint
$light-tint-systemRed: $red70;
$dark-tint-systemRed: $red50;

$light-tint-systemYellow: $yellow50;
$dark-tint-systemYellow: $yellow40;

$light-tint-systemGreen: $green70;
$dark-tint-systemGreen: $green50;

$light-tint-systemTeal: $teal70;
$dark-tint-systemTeal: $teal50;

$light-tint-systemBlue: $blue60;
$dark-tint-systemBlue: $blue40;

// Black & White
$light-BW-systemWhite: $white;
$dark-BW-systemWhite: $white;

$light-BW-systemBlack: $black;
$dark-BW-systemBlack: $white;

$light-BW-systemInverse: $black;
$dark-BW-systemInverse: $white;

// Gray
$light-gray-systemGrey1: $gray50;
$dark-gray-systemGrey1: $gray40;

$light-gray-systemGrey2: $gray40;
$dark-gray-systemGrey2: $gray50;

$light-gray-systemGrey3: $gray30;
$dark-gray-systemGrey3: $gray60;

$light-gray-systemGrey4: $gray20;
$dark-gray-systemGrey4: $gray70;

$light-gray-systemGrey5: $gray10;
$dark-gray-systemGrey5: $gray80;

$light-gray-systemGrey6: $gray05;
$dark-gray-systemGrey6: $gray90;

// Background color
$light-BG-default-base: $white;
$dark-BG-default-base: $gray90;

$light-BG-default-elevated: $white;
$dark-BG-default-elevated: $gray80;

$light-BG-grouped-base: $gray05;
$dark-BG-grouped-base: $black;

$light-BG-grouped-upperbase: $white;
$dark-BG-grouped-upperbase: $gray90;

$light-BG-grouped-elevated: $white;
$dark-BG-grouped-elevated: $gray80;

// Overlay color
$light-Overlay-thick: fade($gray80, 90%);
$dark-Overlay-thick: fade($gray70, 90%);

$light-Overlay-basic: fade($gray90, 40%);
$dark-Overlay-basic: fade($gray90, 60%);

$light-Overlay-thin: fade($gray70, 5%);
$dark-Overlay-thin: fade($gray70, 28%);

$light-Overlay-state-onBG-hover: fade($gray70, 8%);
$dark-Overlay-state-onBG-hover: fade($gray70, 18%);

$light-Overlay-state-onBG-focus: fade($gray70, 12%);
$dark-Overlay-state-onBG-focus: fade($gray70, 30%);

$light-Overlay-state-onTint-hover: fade($gray90, 8%);
$dark-Overlay-state-onTint-hover: fade($gray90, 8%);

$light-Overlay-state-onTint-focus: fade($gray90, 12%);
$dark-Overlay-state-onTint-focus: fade($gray90, 12%);

// Label color
$light-Label-onBG-primary: $gray90;
$dark-Label-onBG-primary: $gray05;

$light-Label-onBG-secondary: fade($gray90, 57%);
$dark-Label-onBG-secondary: fade($gray05, 60%);

$light-Label-onBG-tertiary: fade($gray90, 29%);
$dark-Label-onBG-tertiary: fade($gray05, 30%);

$light-Label-onTint-primary: $gray05;
$dark-Label-onTint-primary: $gray90;

$light-Label-onTint-secondary: fade($gray05, 60%);
$dark-Label-onTint-secondary: fade($gray90, 57%);

$light-Label-onTint-tertiary: fade($gray05, 30%);
$dark-Label-onTint-tertiary: fade($gray90, 29%);

// Separator color
$light-non-opaque: fade($gray90, 15%);
$dark-non-opaque: fade($gray05, 30%);


