.font_9040 {
  font-size: 4.8rem;
  line-height: normal;
}

.font_9060 {
  font-weight: bold;
  @extend .font_9040;
}

.font_8040 {
  font-size: 3.6rem;
  line-height: normal;
}

.font_8060 {
  font-weight: bold;
  @extend .font_8040;
}

.font_7040 {
  font-size: 3.2rem;
  line-height: normal;
}

.font_7060 {
  font-weight: bold;
  @extend .font_7040;
}

.font_6040 {
  font-size: 2.8rem;
  line-height: normal;
}

.font_6060 {
  font-weight: bold;
  @extend .font_6040;
}

.font_5040 {
  font-size: 2.4rem;
  line-height: normal;
}

.font_5060 {
  font-weight: bold;
  @extend .font_5040;
}

.font_4040 {
  font-size: 1.8rem;
  line-height: normal;
}

.font_4060 {
  font-weight: bold;
  @extend .font_4040;
}

.font_3040 {
  font-size: 1.6rem;
  line-height: normal;
}

.font_3060 {
  font-weight: bold;
  @extend .font_3040;
}

.font_2040 {
  font-size: 1.4rem;
  line-height: normal;
}

.font_2060 {
  font-weight: bold;
  @extend .font_2040;
}

.font_1040 {
  font-size: 1.2rem;
  line-height: normal;
}

.font_1060 {
  font-weight: bold;
  @extend .font_1040;
}

.font_0040 {
  font-size: 1.1rem;
  line-height: normal;
}

.font_0060 {
  font-weight: bold;
  @extend .font_0040;
}

h1 { @extend .font_9040; }

h2 { @extend .font_8040; }

h3 { @extend .font_7040; }

h4 { @extend .font_6040; }

h5 { @extend .font_5040; }

h6 { @extend .font_4040; }
